#table-score{
    width: 20em;
    min-height: 20em;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

#game{
    width: auto;
    height: auto;
    position: absolute;
    top:30%;
    right: 50%;
}

#board{
    width: auto;
    height: auto;
    position: relative;
    top: 100%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.success{
    background-color: green;
}

.close{
    background-color: yellow;
}

table, td, tr{
    border: 1px solid;
}